@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
}
.red{
	color: red;
	font-weight: bold;
}

.col_padding{
	padding: 2px;
}
#logo_searchBox{
	
	background-color: #0000FF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:2px solid #0000FF;
	width: 100%
	height: 20px;
	margin: auto;
	padding-top:2.5px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 2.5px;
	

}
.img-responsive {
	max-width:100%;
	height: 30px;
	display: block;
	margin: 0;
	padding:0;

}
input[type=text]#searchBox{
	margin: auto;
	width: 100%;
	height: 40px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:16px;
	background:#fff;
	border:4px solid #0000FF;
	outline:none;
	padding-top:5px;
 	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;
	
}
/*input[type=text]:focus#searchBox{
	border:4px solid #56b4ef;
	box-shadow:0px 0px 5px 3px #c8def0;
}*/

#searchButton{
	width:100%;
	height: 40px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background-color:#fff;
	border:4px solid #00f;
	padding:8px;
	font-size:12px;
	font: bolder, Gadget, sans-serif;
	color:black;
	cursor: pointer

}
.shadow {
	width:490px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-size:16px;
	background:#fff;
	border:4px solid #56b4ef;
	outline:none;
	padding-top:5px;

 	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;	
}
.shadow:focus {
	border:5px solid #56b4ef;
	box-shadow:0px 0px 5px 3px #c8def0;
}

.button {
	width:100px;
	
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	
	background-color:#00F;
	border:2px solid #00f;
	padding:8px;
	font-size:18px;
	font: bolder, Gadget, sans-serif;
	color:#fff;
	cursor: pointer;

}
#social{
	width: 60px;
	height: 35px;
}

/*.navbar .navbar-collapse {
  text-align: center;
  display: block;
}
#myNavUlDiv{
	margin: 0 auto;
	text-align: center;
}

#nav_container{
	margin: 0 auto;

}
#myNavLi{
	margin: 0 auto;
}
#myNavbar{
	margin: 0 auto;
	text-align: center;
}

ul#myNavUl{
	margin: 0 auto;
	
	
}
.nav {
	margin: 0 auto;
}
.navbar-collapse > li {
    text-align: center;
    display: block;
}*/

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}


a:link {
	color:#000000;
	text-decoration:none;
	}    /* unvisited link */
	a:visited {
	color:#000000;
	text-decoration:none;
	} /* visited link */
	a:hover {
	color:#0000FF;
	text-decoration:none;
	}   /* mouse over link */
	a:active {
	color:#0000FF;
	text-decoration:none;
	}  /* selected link */
/*#header {
	background-color: #FAFAFA;
	text-align: center;
	height: 40px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
}*/
#contentwrapper {
	width: 80%;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#content {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	width: 93%;
	height:100%
	margin-top: 0px;
	text-align: left;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	border:4px solid #0000FF;
	outline:none;
	padding-top: 80px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
}
#logo {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:1px solid #0000FF;
	float: left;
	height: 44px;
	width: 60px;
	margin-top: 54px;
	margin-left: 380px;
	z-index: 100;
	background-image: url(Afbeeldingen/Logo klein.png);
}

.search_label{
	font-weight: bold;
	font-size: 14px;
	padding-top: 5px;
}

.search_widget{
	size: 10px
}

#footer {
	background-color: #FAFAFA;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 125px;
	width: 100%;
}
.widget {
    margin-bottom:20px;
}
.widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
}
.widget .inner {
    margin:0 10px;
}
/* Navigation */
/*nav {
    float:left;
}
nav ul {
    margin:0;
}
nav ul li {
    display:inline;
    margin-right:10px;
}
nav ul li a {
    text-decoration:none;
}
nav ul li.current {
    font-weight:bold;
}
nav ul li a.last {
    border-right:0;
}*/
/* Aside */
/*aside {
    width:260px;
    float:right;
    border-left:1px dashed #aaa;
    padding-left:15px;
}*/
